// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.title {
    color: green;
    font-size: 1.2rem;
    h1 {
        font-size: 2.3rem;
    }
}

li {
    list-style: none;
}

.detail {
    font-size: 2rem;
    text-align: center;
}

fieldset {
    border: 2px solid green;
    padding-left: 3%;
    padding-right: 3%;
}

legend {
    width: 34%;
}