// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.title {
    color: #ee7d46;
    font-size: 1.2rem;
    h1 {
        font-size: 2.3rem;
    }
}

li {
    list-style: none;
}

.detail {
    font-size: 2rem;
    text-align: center;
}

fieldset {
    border: 2px solid #ee7d46;
    padding-left: 3%;
    padding-right: 3%;
}

legend {
    width: 34%;
}

.image {
    max-height: 150px;
}

.btn-orange {
    background-color: #ee7d46;
    color: white;
}